wi/MetaEdOutput/wi/XSD/EXTENSION-Ed-Fi-Extended-Core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- (c)2018 Ed-Fi Alliance, LLC. All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/0310" xmlns:ann="http://ed-fi.org/annotation" targetNamespace="http://ed-fi.org/0310" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Ed-Fi 3.1.0 Extensions =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Domain Entities =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-DisciplineActionExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DisciplineAction">
        <xs:sequence>
          <xs:element name="ModifiedTerm" type="EXTENSION-ModifiedTermDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies if the duration of the expulsion has been modified from the federally required one year of expulsion for a fire arms incident.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ModifiedTermDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="EarlyReinstatementCondition" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Following an expulsion, the student had early reinstatement condition to return to school prior to the end of the expulsion.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Descriptors =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-CertificatedProgramStatusDescriptor">
    <xs:annotation>
      <xs:documentation>Status in a certificated program</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-CountDateNameDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the name of a count date for which services are recorded</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-CountDateReceivingServiceDescriptor">
    <xs:annotation>
      <xs:documentation>This descriptor describes the state of services on a count date</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-CteProgramAreaDescriptor">
    <xs:annotation>
      <xs:documentation>Wisconsin CTE program areas.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-IacCodeDescriptor">
    <xs:annotation>
      <xs:documentation>IAC - subset of federal CIP codes used in Wisconsin CTE programs.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ModifiedTermDescriptor">
    <xs:annotation>
      <xs:documentation>Identifies if the duration of the expulsion has been modified from the federally required one year of expulsion for a fire arms incident.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StateEndorsedRegionalCareerPathwayStatusDescriptor">
    <xs:annotation>
      <xs:documentation>Status in a State Endorsed Regional Career Pathway.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Associations =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-StudentCTEProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentCTEProgramAssociation">
        <xs:sequence>
          <xs:element name="CertificatedProgramStatus" type="EXTENSION-CertificatedProgramStatusDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicator of Certificated Program Status</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-CertificatedProgramStatusDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="StateEndorsedRegionalCareerPathwayStatus" type="EXTENSION-StateEndorsedRegionalCareerPathwayStatusDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicator of StateEndorsedRegionalCareerPathwayStatus</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-StateEndorsedRegionalCareerPathwayStatusDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="CTEConcentrationIacCode" type="EXTENSION-IacCodeDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>IacCode of concentration.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-IacCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="CTEConcentrationCteProgramArea" type="EXTENSION-CteProgramAreaDescriptorReferenceType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>WI Program areas of concentration.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-CteProgramAreaDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentDisciplineIncidentAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentDisciplineIncidentAssociation">
        <xs:sequence>
          <xs:element name="SeriousBodilyInjury" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Incident resulted in serious bodily injury. Serious Bodily Injury involves a substantial risk of death; extreme physical pain; protracted and obvious disfigurement; or protracted loss or impairment of the function of a bodily member, organ, or faculty (18 USC Section 1365 (3)(h)).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentEducationOrganizationAssociation">
        <xs:sequence>
          <xs:element name="ResidentLocalEducationAgencyReference" type="LocalEducationAgencyReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSchoolAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSchoolAssociation">
        <xs:sequence>
          <xs:element name="ParentPlacedPrivate" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identifies if a student is receiving Primary education services from a Private school and Special education services from a public schoolIndication of a student placed by a parent or guardian in private school, Parentally Placed Private, who receives special education or related services from the submitting district that meet state standards under a service plan (34 CFR 300.452--300.462).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompletedSchoolTerm" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpectedTransferLocalEducationAgencyReference" type="LocalEducationAgencyReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpectedTransferSchoolReference" type="SchoolReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActualDaysAttendance" type="EXTENSION-ActualDaysAttendance" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PossibleDaysAttendance" type="EXTENSION-PossibleDaysAttendance" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrivateSchoolChoiceProgramParticipant" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReceivingService" type="EXTENSION-ReceivingService" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The status of a student during a specific count date</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSpecialEducationProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSpecialEducationProgramAssociation">
        <xs:sequence>
          <xs:element name="FapeResponsibleSchoolReference" type="SchoolReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Extended Descriptor Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-CertificatedProgramStatusDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Status in a certificated program</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-CountDateNameDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the name of a count date for which services are recorded</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-CountDateReceivingServiceDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>This descriptor describes the state of services on a count date</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-CteProgramAreaDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Wisconsin CTE program areas.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-IacCodeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>IAC - subset of federal CIP codes used in Wisconsin CTE programs.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ModifiedTermDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Identifies if the duration of the expulsion has been modified from the federally required one year of expulsion for a fire arms incident.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-StateEndorsedRegionalCareerPathwayStatusDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Status in a State Endorsed Regional Career Pathway.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Common Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-CTEProgramExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Common</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CTEProgram">
        <xs:sequence>
          <xs:element name="IacCode" type="EXTENSION-IacCodeDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>IacCode of concentration.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-IacCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="CteProgramArea" type="EXTENSION-CteProgramAreaDescriptorReferenceType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>WI Program areas of concentration.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-CteProgramAreaDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ReceivingService">
    <xs:annotation>
      <xs:documentation>The status of a student during a specific count date</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Common</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountDateName" type="EXTENSION-CountDateNameDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>The count date name for the student status (e.g 3rd Fri Sept)</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>EXTENSION-CountDateNameDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountDateReceivingService" type="EXTENSION-CountDateReceivingServiceDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>The status of the student during the specific count date (e.g. Present)</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>EXTENSION-CountDateReceivingServiceDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Enumerations and Enumerated Collections =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== String Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Numeric Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-ActualDaysAttendance">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="4" />
      <xs:fractionDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-PossibleDaysAttendance">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="4" />
      <xs:fractionDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
